.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*html
analysis/*_cache
analysis/site_libs
*bam
*bai
*gz
*bed
*csv
*tsv
*Peak
*Peak
*log
*xls
*txt
*bw
*fastq
*fq
*.tla
*.zip
*.rds
*.rda
*.xlsx
misc/
*.bb
*.bedgraph
*.RData
*.rda
*.RDS
data/*
output/*
renv/*
CC/*
CYT/*
data/*
HPAP_CTRL/data/*
test_T1D/data/*
*err
*out
test_T1D/*err
test_T1D/*out
HPAP_CTRL/code/*err
HPAP_CTRL/code/*out
CYT/code/*err
CYT/code/*out
*.err
*.out
